@font-face {
    font-family: Panda;
    src: url("../../../Common/fonts/KungFuPanda.otf") format("opentype");
}

.box_card{
    display: grid;
    flex-wrap:wrap;
    text-align: center;
    margin:  auto 5%;
    margin-top: 40px;
    border: 0px solid white;
    padding: 20px;
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 0 15px  0 black;
}

.cardFront{
    background-color:rgba(255, 255, 255, 0.3);
    image-orientation: inherit;
    background-position: 50% 50%;
    padding: 10px;
    border: 0 solid;
    color:lightgrey;
    font-weight: 600;
    font-size: 20px;
    text-shadow: 0 0 30px whitesmoke;
    align-items: center;
    box-shadow: 0 0 5px 0px black;
    transition: 0.3s;
}
.cardFront:hover{
    box-shadow: 0 0 5px 0 white;
    background-color:rgba(255, 255, 255, 0.5);
}
.content_top{
    font-size: 40px;
    font-family: Panda;
    color: #2b2e2e;
    text-shadow: 0 0 15px white;
    text-align: center;
}


.box_button{
    position: relative;
    background-color: rgba(0,0,0,0);
    border: none;
    font-family: Panda;
    font-size: 30px;
    margin-left: 5%;
    margin-top: 30px;
    text-shadow:
            0 0 15px black, 0 0 15px black,0 0 15px black;
    transition: 0.5s;
}

.box_button:hover {
    font-size: 30px;
    text-shadow:
            0 0 15px grey, 0 0 15px grey;
    color:#61dafb;
}

.box_button a{
    color:wheat;
    font-weight: 600;
    margin-left: 36%;
}

.create{
    margin: 10px;
    grid-area: create;
}
.update{
    grid-area: update;
}

.Table{
    justify-content: space-between;
    display: grid;
    grid-template:
            "question answer grade buttons";
    grid-template-columns: 15% 15% 18% 18%;
    color:black;
    font-size: 16px;
}

.question{
    grid-area:question ;
    display: flex;
    justify-content: start;
}
.answer{
    grid-area:answer ;
    display: flex;
    justify-content: start;
}
.grade{
    grid-area:grade ;
}
.buttons{
    grid-area:buttons ;
}



