@font-face {
    font-family: Panda;
    src: url("../fonts/KungFuPanda.otf") format("opentype");
}
.TitleTable{
    font-family: Panda;
    color:wheat;
    font-size: 25px;
    text-shadow: 0 0 50px  white;
    margin: 10px;
}
.container{
    font-size: 18px;
    font-weight: 600;
    text-shadow: 0 0 15px black, 0 0 15px black;
    margin: 10px 0 ;
    color:darkred;
    justify-content:space-around;
    display: grid;
    grid-template:
            "n c g a";
    grid-template-columns:12% 20% 42% 10% ;
}
.name {

    grid-area: n;
}
.card {
    grid-area: c;
}
.grade {
    grid-area: g;
}
.actions {
    grid-area: a;
}
.containerMenu{
    margin: auto auto;
    width: 40%;
    justify-content: center;
    border: 0px solid white;
    background-color: rgba(0,0,0,0.3);
    border-radius: 45px;
}
.containerBox{
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

