@import url('https://fonts.googleapis.com/css?family=Lato');

body, html{
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.container{
    display: flex;
    position: relative;
    margin: 0px auto;
    height: auto;
    width: 350px;
    padding: 0px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.container ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;

}

.container ol{
    /*display: flex;*/

}

ol li{
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 40px;
    /*border-bottom: 1px solid #333;*/

}

ol li input[type=radio]{
    position: absolute;
    visibility: hidden;


}

ol li label{
    display: block;
    position: relative;
    font-weight: 300;
    /*font-size: 1.35em;*/
    padding: 25px 25px 25px 80px;
    /*margin: 10px auto;*/
    height: 0px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;

}

ol li:hover label{
    color: #FFFFFF;

}

ol li .check{
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 0px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;

}

ol li:hover .check {
    border: 5px solid #FFFFFF;
}

ol li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 5px;
    left: 5px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;

}

input[type=radio]:checked ~ .check {
    border: 5px solid #0DFF92;

}

input[type=radio]:checked ~ .check::before{
    background: #0DFF92;

}

input[type=radio]:checked ~ label{
    color: #0DFF92;

}

.signature {
    margin:0px auto;
    padding: 0px 0;
    width: 100%;

}

.signature p{
    text-align: center;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 0.85em;
    color: #AAAAAA;

}

.signature .much-heart{
    display: inline-block;
    position: relative;
    margin: 0 4px;
    height: 10px;
    width: 10px;
    background: #AC1D3F;
    border-radius: 4px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);



}

.signature .much-heart::before,
.signature .much-heart::after {
    display: block;
    content: '';
    position: absolute;
    margin: auto;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    background: #AC1D3F;
    top: -4px;

}

.signature .much-heart::after {
    bottom: 0;
    top: auto;
    left: -4px;

}

.signature a {
    color: #AAAAAA;
    text-decoration: none;
    font-weight: bold;

}


/* Styles for alert...
by the way it is so weird when you look at your code a couple of years after you wrote it XD */

.alert {
    box-sizing: border-box;
    background-color: #0DFF92;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 300;
    padding: 20px 40px;
    color: #333;
}

.alert h2 {
    font-size: 22px;
    color: #232323;
    margin-top: 0;
}

.alert p {
    line-height: 1.6em;
    font-size:18px;
}

.alert a {
    color: #232323;
    font-weight: bold;
}