@font-face {
   font-family: Panda;
   src: url("../fonts/KungFuPanda.otf") format("opentype");
   font-family: RussoOne;
   src: url("../fonts/RussoOne.ttf") format("truetype");
}

.selectedPage {
   color:wheat;
   font-family: Panda;
   font-size: 28px;
   /*min-width: 50px;*/
   /*display: inline-block;*/

}
.selectedP {
   color:black;
   font-family: RussoOne;
   font-size: 22px;
   /*width: 50px;*/
   /*display: inline-block;*/
}
.selectedP:hover{
   color:white;
   font-family: Panda;
   font-size: 22px;
}