@font-face {
   font-family: Panda;
   src: url("../fonts/KungFuPanda.otf") format("opentype");
   font-family: RussoOne;
   src: url("../fonts/RussoOne.ttf") format("truetype");
}

.selectedPage {
   color:wheat;
   font-family: Panda;
   font-size: 26px;
}
.selectedP {
   color:black;
   font-family: RussoOne;
   font-size: 20px;
}
.selectedP:hover{
   color:white;
   font-family: Panda;
   font-size: 26px;
}