@font-face {
    font-family: Panda;
    src: url("../../fonts/KungFuPanda.otf") format("opentype");
    font-family: PandaRU;
    src: url("../../fonts/KungRU.otf") format("opentype");
    font-family: RussoOne;
    src: url("../../fonts/RussoOne.ttf") format("truetype");
}

.inputOld{

    font-family:RussoOne, Panda,PandaRU;
    color:black;
    box-shadow: 0 0 5px 0 black;
    font-weight: 800;
    min-width: 50px;
    min-height: 10px;
    background-color: wheat;
    font-size: 20px;
    padding: 3px;
    outline: none;
}