@font-face {
    font-family: Panda;
    src: url("../../Common/fonts/KungFuPanda.otf") format("opentype");
    font-family: PandaRU;
    src: url("../../Common/fonts/KungRU.otf") format("opentype");
}
.span{
    font-family: Panda,PandaRU;
    color:darkred;
    box-shadow: 0 0 15px 0 black;
    margin:20px;
    font-size: 20px;
}
.recovery{
    margin: auto auto;
    width: 40%;
    justify-content: center;
    border: 0px solid white;
    background-color: rgba(0,0,0,0.3);
    border-radius: 45px;
}
.recovery_box{

    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}