.Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    opacity: 0.8;
}
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: lightslategrey;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
    /*display: none;*/
}
.select {
    position: relative;
    display: flex;
    width: 15em;
    height: 2em;
    line-height: 3;
    background: darkslategrey;
    overflow: hidden;
    border-radius: .25em;
}
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background:darkslategrey;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
}
.select:hover::after {
    color: darkslategrey;
}