.profile_img{
    width: 400px;
    grid-area: pI;
    padding: 50px;
}
.profile_img img{
    margin: 0px;
    width: 300px;
    border-radius: 100px;
}
.profile_img button{
    border:0px ;
    background-color:wheat;
    border-radius:3px;
    transition: 0.5s;
}
.profile_img button:hover{
    box-shadow: 0 0 15px white;
    background-color: burlywood;
}

.Profile{
    display: grid;

    grid-template:
            "pI tP";
    grid-template-columns: 400px 1fr;
}
.tableProfile{
    padding: 10px;
    border: 1px solid grey;
    background-color: rgba(255,255,255,0.3);
    grid-area: tP;
}
.hp{
    grid-area: hp;
}
@media screen and (max-width:1450px ){
    .profile_img{
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .profile_img img{
        margin:0px auto;
    }
    .Profile {
        display: flex;
        flex-direction: column;
    }
}
.butPhoto img{
    width: 18px;
    height: 18px;
    margin: 0px;
    border-radius: 0px;
}
.butPhoto {
    width: 18px;
    height: 18px;
    margin: 0px;
    border-radius: 0px;
    margin-top: -30px;
    margin-bottom: 30px;
    margin-left: 25px;
}