.default {

}

.red {
    background: red;

}
.buttonErrorFalse{
    padding-top: 7px;
    border-radius: 40px;
    opacity: 0.4;
    height: 50px;
    padding-left: 5px;
    min-width: 50px;
    outline: none;
    background-color: azure;
    box-shadow: 0 0 10px crimson;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 800;
    margin: 10px;
}
.buttonErrorTrue{
    padding-top: 7px;
    border-radius: 40px;
    opacity: 0.4;
    height: 50px;
    padding-left: 5px;
    min-width: 50px;
    outline: none;
    background-color: white;
    box-shadow: 0 0 10px white;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 800;
    margin: 10px;
}
