@font-face {
    font-family: Panda;
    src: url("../../../Common/fonts/KungFuPanda.otf") format("opentype");
    font-family: Samurai;
    src: url("../../../Common/fonts/Samurai.ttf") format("truetype");
}

h2 {
    font-family: Panda;
    color:black;
    text-shadow: 0 0 30px 0 black;
}
.HP{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tableHP{
    padding: 40px;
    border-radius: 15px;
    width: 60%;
}
.style span  {
    font-size: 30px;
    margin: 10px;
    font-family: Samurai;
    color:darkred;
    display: inline-block;
    text-shadow:
            0 -1px 0 rgba(0,0,0,1),
            0 -3px 0 rgba(0,0,0,0.45),
            0 1px 0 rgba(255,255,255,0.5),
            0 1px 5px rgb(88,92,42),
            0 2px 2px rgba(255,255,255,0.2);
}
.style img{
    margin: 20px;
    box-shadow: 5px 0 40px 5px black;
}
