.cardBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btnBlock button{
   margin: 3px;
}
.questionBlock{
    display: flex;
    flex-direction: column;
}
.text{
    background-color: #9a905d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    min-width: 100px;
    color: darkblue;
    font-size: 25px;
    border: 2px solid black;
    margin: 5px;
}