.Block{
    margin: 10px;
    margin-left: 300px;
    background-color:rgba(255, 255, 255,0.4);;
    justify-content: flex-start;
    border: 1px solid gray;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    box-shadow:  0 0 10px 0 black;
    color: #2b2e2e;
}
.Block:hover{
    box-shadow: 0 0 5px 0 white;
}

.Table{
    justify-content: space-between;
    display: grid;
    grid-template-columns:4% 8% 4% 16% 8% 32% 28%;
    grid-template:
            "rating name cardsCount create id buttons";
}

.userName{
    padding: 5px;
    font-size: 20px;
    grid-area: userName;
    color:antiquewhite;
    text-shadow:  0 0 15px black;
}
.name{
    padding: 5px;
    grid-area: name;
}
.rating{
    padding: 5px;
    grid-area: rating;
}
.cardsCount{
    padding: 5px;
    grid-area: cardsCount;
}
.create{
    padding: 5px;
    grid-area: create;
}

.id{
    padding: 5px;
    grid-area: id;
}
.buttons{
    grid-area: buttons;
}

.h3 {
    color:wheat;
    text-shadow: 0 0 20px whitesmoke;
}