.Block{
    margin: 0 20px;
    background-color:rgba(255, 255, 255,0.3);
    justify-content: flex-start;
    border: 1px solid gray;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    box-shadow:  0 0 5px 0 black;
    color: #2b2e2e;
    transition: 0.5s;
}
.Block:hover{
    box-shadow: 0 0 5px 0 white;
    background-color:rgba(255, 255, 255,0.7);
}

.Table{
    justify-content: space-between;
    display: grid;

    grid-template:
            "name cardsCount cards rating buttons"
            "name cardsCount cards rating Link";
    grid-template-columns:12% 22% 2% 18% 250px ;
}
.cards{
    grid-area: cards;
    margin-top: 5px;
    color:darkred;
}
.userName{
    padding: 5px;
    font-size: 20px;
    grid-area: userName;
    color:antiquewhite;
    text-shadow:  0 0 15px black;
}
.name{
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
    grid-area: name;
}
.rating{
    padding: 5px;
    grid-area: rating;
}
.cardsCount{
    padding: 5px;
    grid-area: cardsCount;
}
.create{
    padding: 5px;
    grid-area: create;
}


.buttons{
    grid-area: buttons;
    display: flex;
}

.h3 {
    color:wheat;
    text-shadow: 0 0 20px whitesmoke;
}
.LinkPosiiton{
    grid-area: Link;
    margin: 5px;
}
.Link {

    border: 2px solid #2b2e2e ;
    font-family: Panda;
    color:black;
    box-shadow: 0 0 45px 0 black;
    background-color: whitesmoke;
    font-size: 20px;
    padding: 3px;
    outline: none;
    text-decoration: none;
    margin: 5px;

}
.Link:hover{
     box-shadow: 0 0 30px 0 black;
     color:darkred;
 }
.Link:active{
    box-shadow: 0 0 20px 0 black;
    color:red;
}
disabled {
    pointer-events: none;
}
.LinkDisable {
    border: 2px solid #2b2e2e ;
    font-family: Panda;
    color:black;
    box-shadow: 0 0 45px 0 black;
    font-size: 20px;
    padding: 3px;
    outline: none;
    text-decoration: none;
    margin: 5px;
    background-color: grey;


    pointer-events: none;
}