.Block{
    margin: 10px;
    margin-left: 20%;
    background-color: white;
    opacity: 0.5;
    justify-content: flex-start;
    border: 1px solid gray;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;

    /*grid-row: 2;*/


}
.Table{
    justify-content: space-between;
    display: grid;
    grid-template-columns:4% 8% 4% 16% 8% 32% 28%;
    grid-template:
            "rating name cardsCount create id buttons";
}

.userName{
    padding: 5px;
    font-size: 22px;
    grid-area: userName
}
.name{
    padding: 5px;
    grid-area: name
}
.rating{
    padding: 5px;
    grid-area: rating
}
.cardsCount{
    padding: 5px;
    grid-area: cardsCount
}
.create{
    padding: 5px;
    grid-area: create
}

.id{
    padding: 5px;
    grid-area: id
}
.buttons{
    grid-area: buttons
}
