.modal{
   top: 0px;
   left: 0px;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   position: fixed;
   display: flex;
   justify-content:center;
   align-items: center;
   transition:0.5s ;
   opacity: 0;
   pointer-events: none;

}

.modal.active{
   opacity: 1;
   pointer-events: all;

}
.button  {
   /*width: auto;*/
   /*height: 500px;*/
   border:0px solid white;
   border-radius: 15px;
   padding: 50px;
   box-shadow: 0 0 5px 0 whitesmoke, inset 0 0 5px 0 whitesmoke;

}
.modal_content{
   padding: 20px;
   border-radius: 10px;
   width: 400px;
   height: 400px;

   background-color: black;
   transform: scale(0.5);
   transition: 0.4s all;


}

.modal_content.active {
   transform: scale(1);
   background-color: black;
   width: 400px;
   height: 400px;

}
