.superInput {
    display: inline-block;

}
.Input{
    margin: 0px;
}

.errorInputTrue {
    padding-left: 20px;
    box-shadow: 0 0 10px mediumvioletred;
    border: 2px solid darkred;
    opacity: 0.7;
    border-radius: 50px;
    height: 60px;
    min-width: 400px;
    outline: none;
    background-color: white;
    font-size: 25px;

}
.errorInputFalse{
    border-radius: 50px;
    opacity: 0.4;
    height: 60px;
    padding-left: 15px;
    min-width: 400px;
    outline: none;
    background-color: white;
    box-shadow: 0 0 10px white;
    font-size: 25px;
}

.errorText {
    color: red;
    height: 30px;
    padding-left: 30px;
    font-weight: 800;
    font-size: 16px;
    font-family: sans-serif;
}
.errorSuperInput {
    border-radius: 50px;
    opacity: 0.4;
    height: 60px;
    padding-left: 15px;
    min-width: 400px;
    outline: none;
    background-color: white;
    box-shadow: 0 0 10px white;
    font-size: 25px;
}
.buttonErrorFalse{
    padding-top: 7px;
    margin-left: -60px;
    border-radius: 40px;
    opacity: 0.4;
    height: 50px;
    padding-left: 5px;
    min-width: 50px;
    outline: none;
    background-color: azure;
    box-shadow: 0 0 10px crimson;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 800;
}
.buttonErrorTrue{
    padding-top: 7px;
    margin-left: -60px;
    border-radius: 40px;
    opacity: 0.4;
    height: 50px;
    padding-left: 5px;
    min-width: 50px;
    outline: none;
    background-color: white;
    box-shadow: 0 0 10px white;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 800;
}