.span{
    display: inline-block;
    padding: 35px;
    height: 70px;
    font-weight: 800;
    font-size: 20px;
}
.editable{
    font-weight: 600;
    font-size: 15px;
    color:wheat;
    padding: 20px;
}