@font-face {
    font-family: Panda;
    src: url("../fonts/KungFuPanda.otf") format("opentype");
}
.navlink a{
    font-family: Panda;
    color:black;
    line-height: 2.5;
    font-size: 24px;
    box-shadow: 0 0 50px 0px black;
}
.navlink a:hover{
    box-shadow: 0 0 30px 0px black;
    color: darkred;
}
.navlink a:active {
    box-shadow: 0 0 20px 0px black;
}
.lamp{
    position:absolute;
    float:left;
    color:greenyellow;
    left: 95%;
    top:5%;
    text-shadow: 1px 1px 20px lightgreen, 0 0 1em lightgreen;
}
.lampErr{
    position:absolute;
    float:left;
    color:red;
    left: 95%;
    top:5%;
    text-shadow: 1px 1px 20px red, 0 0 1em darkred;
}