@font-face {
    font-family: Panda;
    src: url("../Common/fonts/KungFuPanda.otf") format("opentype");
}
.Header{
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.navlink a{
    margin: 40px;
    font-family: Panda;
    color:black;
    line-height: 2.5;
    font-size: 28px;
    box-shadow: 0 0 50px 0px black;
}
.navlink a:hover{
    box-shadow: 0 0 30px 0px black;
    color: darkred;
}
.navlink a:active {
    box-shadow: 0 0 20px 0px black;
}

.link:visited{
    color:red;
}

.lamp{
    position:absolute;
    float:left;
    color:greenyellow;
    right: 95%;
    top:5%;
    text-shadow: 1px 1px 20px lightgreen, 0 0 1em lightgreen;
}
.lampErr{
    position:absolute;
    float:left;
    color:red;
    right: 95%;
    top:5%;
    text-shadow: 1px 1px 20px red, 0 0 1em darkred, 0 0 1em darkred, 0 0 1em darkred;
}
@media screen and (max-width: 1400px){
    .navlink a{
        font-size: 20px;
    }
}
@media screen and (max-width: 1050px){
    .navlink a{
        font-size: 16px;
    }
}
.logout button{
    position: fixed;
    right: 40px;
    font-size: 20px;
    color:black;
    background-color: rgba(0 ,0 ,0 ,0);
    font-family: Panda;
    border: 0 solid white;
    box-shadow: 0 0 25px 0 black;
}
.logout :hover{
    box-shadow: 0 0 30px 0 black,0 0 30px 0 black;
}
.logout :active{
    color:darkred;
    outline: none;
}